<div>
  <div>
    <table style="width:100%">
      <tr>
        <th class ="TitleCenter"colspan="3">SELECT SLIDESHOW STYLE</th>
      </tr>
      <tr>
        <td>Photo Show Room : </td>
        <td><input type="checkbox" ng-model="checkboxModel.value1"></td>
      </tr>
    </table>
  </div>
</div>