
<script src="lib/jQueryUI/jquery-ui.min.js"></script>
<script src="lib/jquery_scale.js"></script>
<div id="myBackground">
  <div class="container-template-second" id="around">
    <div id="{{m.animationName}}" ng-repeat="m in model">
      <div class="anim2-image-normal1" id="{{i.classes}}" ng-repeat="i in m.images track by $index">
        <img src="{{i.picture.src}}">
      </div>
      <div class="anim2-push-image {{img.className}}" ng-repeat="img in m.imageNew" style="z-index: 1">
        <img src="{{img.src}}">
      </div>
    </div>
  </div>
</div>