<div class="anim3_fullScreen">
<!--    <canvas id="oldCanvas"   class="anim3_screenFade anim3_old_background"></canvas>
    <canvas id="introCanvas" class="anim3_screenFade anim3_intro_background"></canvas>
    <canvas id="newCanvas"   class="anim3_transparent_background"></canvas>
    <canvas id="snowCanvas"  class="anim3_transparent_background"></canvas>-->
    <canvas id="endCanvas" class="anim3_ending_background"></canvas>
</div>