<div class="ropeEffect" style="background-position-x: {{x}}px"></div>
<div class="animate-slider-container">
  <div class="myanimate {{slide.className}}" ng-if="$index === selection" ng-repeat="slide in slides track by $index" style="z-index: {{$index}}">
    <img class="{{slide.classStamp}}" src="../../../img/stamp.png">
    <div class="{{slide.classImage}}">
      <img src="{{slide.src}}" class="rotate-{{slide.orientation}}">
    </div>
  </div>
  <div class="myanimate-pushPicture {{img.className + ' ' + 'pos3'}}" ng-repeat="img in imageNew" style="z-index: 9999">
    <div>
      <img src="{{img.src}}" class="rotate-{{img.orientation}}">
    </div>
  </div>
</div>