
//All Theme Button Back
@mixin btnText($color, $margin-top: -6px){
  margin-top: $margin-top;
  width: 100%;
  height: 100%;
  color: $color;
  position: absolute;
  > p {
    text-align: center;
  }
}

.mybtn {
  color: $organge;
  cursor: pointer;
  font-size:16px;
  line-height: 60px;
  width: 150px;
  height: 45px;
  position: relative;
  bottom: 0  ;

  @media (min-width: 500px) and (max-width: 991px){
    width: 150px;
    height: 40px;
  }

  @media only screen and (min-width: 750px)  {
    width: 230px;
    height: 50px;
  }

  @media  only screen and (min-width: 1280px) {
    width: 266px;
    height: 50px;
  }

  &:hover {
    color: $organge;
  }
  > div {
    font-family: "OpenSans-Bold";
    position: absolute;
  }
  .btnTop {
    @include btnText($organge,$margin-top: -10px);

    @media (min-width: 500px) and (max-width: 991px){
      @include btnText($organge,$margin-top: -12px);
    }

    @media only screen and (min-width: 750px) and (max-width: 769px) {
      @include btnText($organge,$margin-top: -6px);
    }

    @media only screen and (min-width: 773px){
      @include btnText($organge,$margin-top: -6px);
    }

    @media  only screen and (min-width: 1280px) {
      @include btnText($organge);
    }
  }
  .btnBottom {
    @include btnText($white);
    overflow: hidden;
    height: 0;
  }
}

.btn-effect {
  border: 2px solid;
  position: absolute;
  overflow: hidden;
  width:100%;

  .backgroundBtn {
    background-color: $organge;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 100%;
    transition: all 875ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .btnBottom {
    @include btnText($white);
    height: 0;
    overflow: hidden;
    transition: all 650ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.btn-effect:hover {
  .backgroundBtn {
    top: 0;
    transition: all 875ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .btnBottom {
    @include btnText($white);
    height: 100%;
    overflow: hidden;
    transition: all 650ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

