@function perimeter($radius){
  @return $radius*2*3.14;
}
$curPer : perimeter(47);

@mixin circle($dasharray,$dashoffset,$keyframe){
  stroke: $blue;
  stroke-dasharray:  $dasharray;
  stroke-dashoffset: $dashoffset;
  -webkit-animation: $keyframe 0.5s ease-in-out;
  opacity: 0.6;
}
.circle_forward{
  @include circle($curPer,$curPer,dash);
}
.circle_backward{
  @include circle($curPer,0,dash_reverse);
}
@keyframes dash {
  0% {
    stroke-dashoffset: $curPer;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash_reverse {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: $curPer;
  }
}

@mixin play_btn($keyframe){
  fill: white;
  -webkit-animation: $keyframe 0.5s ease-in-out;
}
.play_btn_fadeIn{
  @include play_btn(fadeIn);
}
.play_btn_fadeOut{
  @include play_btn(fadeOut);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.play_btn_show{
  fill-opacity: 1;
}
.play_btn_hide{
  fill-opacity: 0;
}
