@mixin transition(){
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,200%,0);
  transform: translate3d(0,200%,0);
}

@mixin mixTransform(){
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;

  .overlay {
    margin-left: 31px;
    margin-right: 31px;
    width: 100%;
    height: 6.85em;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    background: url("../images/hover.png");
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);

    >div {
      >div {
        font-family: titletheme;
        color: #fefefe;;
      }
    }

    .detailthemetitle >a{
      margin-bottom: 10px;
      margin-right:  25px;
      margin-left: 25px;
      font-family: OpenSans-Semibold;
      color: white;
      text-decoration: none;
      cursor: pointer;
    }
  }

  img {
    margin-left: 31px;
    margin-right: 31px;
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
  }

  h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    float: left;
    margin: 0px;
    display: inline-block;
    @include transition();
  }

  a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;

    &:hover{
      box-shadow: 0 0 5px #fff;
    }
  }

  p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: 1.4em;
    @include transition();

    span{

      &:before{
        display: inline-block;
        padding: 8px 10px;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }

  &:hover{

    p.icon-links a{
      @include mixTransform();

      &:focus,
      &:hover{
        color: #252d31;
      }

      &:nth-child(3){
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
      }

      &:nth-child(2) {
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
      }

      &:first-child {
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
      }
    }
    h2{
      @include mixTransform();
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
    }

    .overlay {
      @include mixTransform();
    }
  }
}