
.videogular-container{
  width: 90%;
  height: auto;
  margin: auto;
  overflow: hidden;

  @media (min-width: 500px) and (max-width: 991px){
    width: 76%;
  }

  @media only screen and (min-width: 750px) and (max-width: 769px) {
    width: 90%;
  }

  @media only screen and (min-width: 773px){
    width: 76%;

  }

  @media  only screen and (min-width: 1280px) {
    width: 60%;
  }
}

.documentClass {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  width: 100%;
  height: 100%;
  margin: auto;

  .buttonplay{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;

    >vg-controls{
      width: 100%;
      height: 100%;
      margin: auto;
    }

    .controls-container{
      height: 100%;
    }
  }
}
