.myalltheme {
  width: 100%;
  height: 85%;
  position: absolute; }
  .myalltheme .initscrollview {
    position: relative;
    margin-top: 2%;
    width: 100%;
    height: 70.5%;
    overflow: scroll; }
    .myalltheme .initscrollview div {
      margin-top: 3%;
      margin-bottom: 3%;
      margin-left: 22%; }
  .myalltheme div {
    width: 100%;
    height: 100%;
    position: relative; }

/*# sourceMappingURL=base.css.map */
