.control {
    width: 95px;
    height: 95px;
    font-size: 0;
    position: absolute;
}
.control,
.control .left,
.control .right,
.control:before {
    display: inline-block;
    vertical-align: middle;
    transition: border 0.4s, width 0.4s, height 0.4s, margin 0.4s;
}
.control:before {
}
.control.pause .left,
.control.pause .right {
    border-left: 6px solid #ffffff;
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
    height: 30px;
    margin-top: 47%;
}
.control.pause .left {
    border-right: 10px solid transparent;
}
.control.play .left {
    margin-left: 4px;
    border-left: 13.496px solid #ffffff;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 0px solid transparent;
    height: 30px;
    margin-top: 47.5%;
}
.control.play .right {
    border-left: 13.496px solid #ffffff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    height: 0px;
    margin-top: 47.5%;
}
.control:hover {
    border-color: #ffffff;
}
.control:hover .left,
.control:hover .right {
    border-left-color: #ffffff;
}
.playbutton {
    width: 100%;
    height:100%;
    -webkit-transition: all 0.7s ease-in-out;
    opacity: 0;
}
.playbutton:hover {
    -webkit-transition: all 0.7s ease-in-out;
    opacity: 1;
}
.circle {
    stroke: #54a8d4;
    stroke-dasharray: 650;
    stroke-dashoffset: -650;
    -webkit-transition: all 0.5s ease-in-out;
    opacity: 0.5;
}
.playBut {
    /*  border: 1px solid red;*/
    display: inline-block;
    -webkit-transition: all 0.5s ease;
}
.playBut:hover .circle {
    stroke-dashoffset: -1300;
    opacity: 1;
    animation: nudge 0.5s ease-in-out;
}
@keyframes nudge {
    0% {
        stroke-dashoffset: -650;
    }
    100% {
        stroke-dashoffset: -1300;
    }
}