.videogular-container {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .videogular-container.audio {
        width: 100%;
        height: 100%;
        margin: auto;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .videogular-container.audio {
        width: 100%;
        height: 100%;
        margin: auto;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .videogular-container.audio {
        width: 100%;
        height: 100%;
        margin: auto;
    }
}

.documentClass {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    width: 60%;
    height: 100%;
    margin: auto;
}
.buttonplay{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
}
.buttonplay >vg-controls{
    width: 100%;
    height: 100%;
    margin: auto;
}
.documentClass .buttonplay .controls-container{
    height: 100%;
}
