@mixin initlayout($height:100%, $width:100%, $position: relative){
  width: $width;
  height: $height;
  position: $position;
}

//hover Effect

@mixin transition(){
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,200%,0);
  transform: translate3d(0,200%,0);
}

@mixin mixTransform(){
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


@mixin btnText($color, $margin-top: -6px){
  margin-top: $margin-top;
  width: 100%;
  height: 100%;
  color: $color;
  position: absolute;
  > p {
    text-align: center;
  }
}


.myalltheme{
  @include initlayout($height: 85%,$position: absolute);

  .scrollview {
    position: relative;
    margin-top: 5%;
    height: 80%;
    overflow-y: scroll;

    @media only screen and (min-width: 500px){
      margin-top: 2%;
    }

    @media only screen and (min-width: 500px) and (max-width: 600px){
      height: 75%;
    }

    @media only screen and (min-width: 500px) and (max-width: 600px){
      height: 68.5%;
    }


    @media only screen and (min-width: 750px) and (max-width: 769px) {
      height: 80%;
    }

    @media only screen and (min-width: 774px) {
      height: 68.5%;
    }

    @media only screen and (min-width: 1024px) {
      margin-top: 2%;
      height: 68.5%;
    }

    ::-webkit-scrollbar {
      display: none;
    }

    .svColumn {
      margin-top: 15px;
      margin-bottom: 15px;

      @media (min-width: 500px) and (max-width: 991px) {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      @media only screen and (min-width: 750px) and (max-width: 750px) {
        margin-top: 30px;
        margin-bottom: 30px;
      }

      @media only screen and (min-width: 774px) {
        margin-top: 40px;
        margin-bottom: 40px;
      }

      @media only screen and (min-width: 1280px) {
        margin-top: 50px;
        margin-bottom: 50px;
      }

      > div {
        width: 90%;

        @media only screen and (min-width: 774px) {
          width: 80%;
        }

        @media only screen and (min-width: 1280px) {
          width: 60%;
        }
      }
      //hover effect

      .ng-scope {
        width: 30%;

        .hovereffect {
          float: right;
          right: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          text-align: center;
          cursor: default;

          ::-webkit-scrollbar{
            display: none;
          }

          .overlay {
            width: 100%;
            height: 6.85em;
            position: absolute;
            overflow: hidden;
            left: 0;
            top: auto;
            bottom: 0;
            background: url("../images/hover.png");
            color: #3c4a50;

            @media only screen and (min-width: 1024px) {
              -webkit-transition: -webkit-transform 0.35s;
              transition: transform 0.35s;
              -webkit-transform: translate3d(0, 100%, 0);
              transform: translate3d(0, 100%, 0);
            }

            > div {
              > div {
                font-family: titletheme;
                color: #fefefe;
              }
            }

            .detailthemetitle > a {
              margin-bottom: 5px;
              margin-right: 10px;
              margin-left: 10px;
              font-family: OpenSans-Semibold;
              color: white;
              text-decoration: none;
              cursor: pointer;

              @media (min-width: 500px) and (max-width: 991px) {
                margin-bottom: 5px;
                margin-right: 10px;
                margin-left: 10px;
              }

              @media only screen and (min-width: 750px) and (max-width: 769px) {
                margin-bottom: 7px;
                margin-right: 18px;
                margin-left: 18px;
              }

              @media only screen and (min-width: 773px) {
                margin-bottom: 8px;
                margin-right: 20px;
                margin-left: 20px;

              }

              @media only screen and (min-width: 1280px) {
                margin-bottom: 10px;
                margin-right: 25px;
                margin-left: 25px;
              }
            }
          }

          img {
            display: block;
            position: relative;
            -webkit-transition: -webkit-transform 0.35s;
            transition: transform 0.35s;
          }

          h2 {
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            position: relative;
            font-size: 17px;
            padding: 10px;
            background: rgba(0, 0, 0, 0.6);
            float: left;
            margin: 0px;
            display: inline-block;
            @include transition();
          }

          a.info {
            display: inline-block;
            text-decoration: none;
            padding: 7px 14px;
            text-transform: uppercase;
            color: #fff;
            border: 1px solid #fff;
            margin: 50px 0 0 0;
            background-color: transparent;

            &:hover {
              box-shadow: 0 0 5px #fff;
            }
          }

          p.icon-links a {
            float: right;
            color: #3c4a50;
            font-size: 1.4em;
            @include transition();

            span {

              &:before {
                display: inline-block;
                padding: 8px 10px;
                speak: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }
            }
          }

          &:hover {

            p.icon-links a {
              @include mixTransform();

              &:focus,
              &:hover {
                color: #252d31;
              }

              &:nth-child(3) {
                -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s;
              }

              &:nth-child(2) {
                -webkit-transition-delay: 0.15s;
                transition-delay: 0.15s;
              }

              &:first-child {
                -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s;
              }
            }
            h2 {
              @include mixTransform();
              -webkit-transition-delay: 0.05s;
              transition-delay: 0.05s;
            }

            .overlay {
              @media only screen and (min-width: 1024px) {
                @include mixTransform();
              }
            }
          }
        }
      }
    }

    .OneColume{
      width: 100%;

      > div {
        margin: 30px auto;
        width: 65%;
        height: auto;
        float: top;

        > img {
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
        }

        .overlay{
          width: 65%;
          height: 6.85em;
          position: absolute;
          float: bottom;
          background: url("../images/hover.png");
          color: #3c4a50;
          -webkit-transform: translate3d(0, -95%, 0);
          transform: translate3d(0, -95%, 0);
          font-family: titletheme;
          color: #fefefe;;

          >div{
            width: 100%;
            margin-bottom: 7px;

            .detailthemetitle{
              width: 100%;

              >a {
                font-family: OpenSans-Semibold;
                color: white;
                cursor: pointer;
              }

              >a:last-child{
                margin-left: 15%;
              }
            }
          }
        }
      }
    }
  }

  > div{
    @include initlayout();
  }

  .layoutbtn {
    width: 100%;
    height: auto;
    position: absolute;
    float: bottom;
    margin-top: 10px;

    @media (min-width: 500px) and (max-width: 991px) {
      margin-top: 1px;
    }

    @media only screen and (min-width: 750px) and (max-width: 769px) {
      margin-top: 10px;
    }

    @media only screen and (min-width: 774px) {
      margin-top: 50px;
    }

    @media only screen and (min-width: 1280px) {
      margin-top: 50px;
    }

    .mybtn{
      .mybtn {
        @media (min-width: 500px) and (max-width: 991px) {
          width: 150px;
          height: 40px;
        }

        @media only screen and (min-width: 750px) {
          width: 230px;
          height: 50px;
        }

        @media only screen and (min-width: 1280px) {
          width: 266px;
          height: 50px;
        }
        .btnTop {
          @include btnText($organge, $margin-top: -10px);

          @media (min-width: 500px) and (max-width: 991px) {
            @include btnText($organge, $margin-top: -12px);
          }

          @media only screen and (min-width: 750px) and (max-width: 769px) {
            @include btnText($organge, $margin-top: -6px);
          }

          @media only screen and (min-width: 773px) {
            @include btnText($organge, $margin-top: -6px);
          }

          @media only screen and (min-width: 1280px) {
            @include btnText($organge);
          }
        }
      }
    }
  }
}


