.contact_container{
  width: 100%;
  height: 100%;
  position: relative;
  .contact_content_size{
    width: 440px;
    height: 550px;
  }
  .contact_content{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  .contact_header{
    height: 40px;
    font-size: 21.6px;
    text-align: center;
    font-weight: bold;
  }
  .contact_field_block{
    position: relative;
    width: 440px;
    height: auto;
  }
  .contact_field_blockULine{
    position: absolute;
    width: 0px;
    height: 1px;
    background-color:#f00;
    right:0;
    bottom:0;
  }
  .contact_field:focus + .contact_field_blockULine{
    width: 440px;
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .contact_field{
    width: 100%;
    height: 60px;

    font-size: 12px;
    outline: none;
    padding-left: 15px;
    background: transparent;

    border-bottom: 1px solid #eaac51;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .contact_field_normal{
    padding-top: 30px;
  }
  .contact_field_larger{
    height: 170px;
    padding-top: 25px;
    line-height: 30px;
    resize: none;
  }
  .contact_field::-webkit-input-placeholder {
    font-style: italic;
  }
  .contact_field::-moz-placeholder {
    font-style: italic;
  }
  .contact_field::-moz-placeholder {
    font-style: italic;
  }
  .contact_field:-ms-input-placeholder {
    font-style: italic;
  }
  .contact_submit{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
/*    bottom: -25px !important;*/

    width: 260px;
    height: 50px;

    font-size: 14px;
    font-weight: bold;
  }
  .contact_submit .btn-effect{
    border: 1px solid #eaac51;
  }
}
