.homepage {

  &.player_container{
    width: 100%;
    height: 100%;

    .player{
      width: 100%;
      position: relative;
    }
    .player_overlay{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      outline: 0 none;
      z-index: 1000;

    }
    .player_button{
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(-90deg);
      opacity: 1;
      outline: 0 none;

      @media (min-width: 800px) {
        width: 80px;
        height: 80px;
      }
      @media (max-width: 799px){
        width: 50px;
        height: 50px;
      }
    }

    .player_nav_prev{
      margin-left: 20%;
      width: 13%;
      height: auto;
    }

    .player_nav_next{
      margin-right: 20%;
      width: 13%;
      height: auto;
    }

  }
}
