.theme4_container{
  width: 100%;
  height: 100%;
  position: relative;

  .content{
    position: absolute;
    margin: 0 auto;
    left:0;
    right:0;
    top:50%;
    transform: translateY(-50%);

    width: 70%;
    height: auto;
    max-height: 75%;

    overflow: scroll;
    overflow-x: hidden;
  }
  .block{
    position:relative;
    float:left;
    height: auto;
    overflow: hidden;

    @media screen and (max-width: 599px) {
      width: 100%;
    }
    @media screen and (min-width: 600px) {
      width: 50%;
    }
    @media screen and (orientation: landscape){
      width: 50%;
    }
    @media screen and (orientation: portrait){
      width: 100%;
    }

    &:hover .overlay {
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
    &.collapse{
      @media screen and (max-width: 599px) {
        display:none;
      }
      @media screen and (min-width: 600px) {
        display:block;
      }
      @media screen and (orientation: landscape){
        display:block;
      }
      @media screen and (orientation: portrait){
        display:none;
      }
    }
    &:not(.collapse) .item:nth-child(2n){
      @media screen and (max-width: 599px) {
        display: block;
      }
      @media screen and (min-width: 600px) {
        display: none;
      }
      @media screen and (orientation: landscape){
        display: none;
      }
      @media screen and (orientation: portrait){
        display: block;
      }
    }
  }
  .item{
    width: 100%;
    height:auto;
    font-size: 0;

    &:not(:first-child){
      position: absolute;
      top:100%;
      left:0;
    }
  }
  .item img {
    width: 100%;
    height: auto;
  }
  .overlay{
    position: absolute;
    width: 100%;
    height: 40%;
    top: 60%;
    background: linear-gradient(to top, black, rgba(0,0,0,0));
    overflow: hidden;


    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: $white;


    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);


    @media screen and (orientation: landscape){

      @media (max-width : 599px) {
        height: 55%;
        top: 45%;
        font-size: 10px;
      }
      @media (min-width:600px) and (max-width : 800px) {
        height: 55%;
        top: 45%;
        font-size: 12px;
      }
      @media (min-width: 801px) and (max-width : 2559px) {
        font-size: 16px;
      }
      @media (min-width : 2560px) {
        font-size: 36px;
      }
    }
    @media screen and (orientation: portrait){
      @media (max-width : 599px) {
        height: 50%;
        top: 50%;
        font-size: 12px;
      }
      @media (min-width: 600px) and (max-width : 767px) {
        font-size: 18px;
      }
      @media (min-width: 768px) and (max-width : 1599px) {
        font-size: 22px;
      }
      @media (min-width : 1600px) {
        font-size: 40px;
      }
    }

    .themename{
      font-family: titletheme;
      margin-top: 20px;
    }
    .themedetail {
      font-family : OpenSans-regular;
      > div{
        display: inline-block;
        margin: 5px 20px 0px 20px;
        > a{
          color: $white;
          cursor: pointer;
        }
      }
    }
  }
  .mybtn{
    position: absolute;
    margin:0 auto;
    left:0;
    right:0;

    width: 30%;
    max-width: 300px;
    min-width: 150px;
    @media screen and (orientation: portrait) {
      width: 40%;
      max-width: none;
    }
    @media screen and (orientation: landscape) {
      width: 20%;
      max-width: none;
    }

    min-height: 30px;
    height: 45px;
    line-height: 45px;

    .mybtn{
      width: 100%;
      -webkit-transform: translateY(-50%);

      .btnTop{
        margin-top: 0;
      }
      .btnBottom {
        margin-top: 0;
      }
    }
  }
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}