<div layout="row" layout-align="center center" layout-fill>
  <img src="{{imageFirst.src}}" class="card {{imageFirst.className +' rotate-'+ imageFirst.orientation}}">
  <img src="{{imageSecond.src}}" class="card {{imageSecond.className +' rotate-'+ imageSecond.orientation}}">
</div>