<!--<div layout-fill  class="background1">-->
  <!--<div class="animation"></div>-->
<!--</div>-->


<!--<div layout-fill>
  <div class="animation" options="{background:'abc'}"></div>
</div>-->

<div layout-fill>
  <div class="animation3"></div>
</div>
