<!--<div layout-align="center center" layout-fill>-->
  <!--<div ng-show="!enableDrag" class="camera">-->
    <!--<input type="file" name="file" accept="image/*" nv-file-select="" uploader="uploader" style="opacity: 0;" layout-fill>-->
  <!--</div>-->
  <!--<div ng-show="enableDrag" layout-fill>-->
    <!--<div ng-repeat="item in file" ng-thumb="{ file: item._file}"></div>-->
  <!--</div>-->
<!--</div>-->

<!--<script src="../../lib/resize/resize.js"></script>-->
<!--<script type="text/ng-template" id="loading.html">-->
  <!--<md-dialog aria-label="Popup">-->
<!--<md-content layout="row" layout-align="center center">-->
  <!--<md-progress-circular md-mode="determinate" class="md-accent" md-diameter="70" value="{{determinateValue}}"></md-progress-circular>-->
  <!--<h3 style="padding-left:10px;padding-right:40px;">Processing...</h3>-->
<!--</md-content>-->
<!--</md-dialog>-->
<!--</script>-->

<div layout="row" layout-align="center center" layout-fill>
    <div ng-show="!enableDrag" class="{{camera}}" layout-fill>
        <img class="{{handcss}} handimport z-index:-1" src="../../img/hand.png">
        <input class="z-index: 1" type="file" name="file" accept="image/*" style="opacity: 0;" layout-fill/>
    </div>
    <div ng-show="enableDrag" layout-fill>
        <div class="z-index: 1" ng-repeat="item in file" ng-thumb="{ file: item}"></div>
        <img class="{{handcss}} handexport z-index:-1" src="../../img/hand.png">
    </div>
</div>
<script type="text/ng-template" id="loading.html">
    <md-dialog aria-label="Popup">
        <md-content layout="row" layout-align="center center">
            <md-progress-circular md-mode="determinate" class="md-accent" md-diameter="70" value="{{determinateValue}}"></md-progress-circular>
            <h3 style="padding-left:10px;padding-right:40px;">Processing...</h3>
        </md-content>
    </md-dialog>
</script>