<div class="myalltheme">
    <div>
        <div class="scrollview">
            <div  class="svColumn" layout="row" layout-align="center center" ng-repeat="row in theme" hide-xs flex>
                <div layout="row" layout-align="space-around center">
                    <div ng-repeat="col in row">
                        <div class="hovereffect">
                            <img class="img-responsive"src={{col.url}} alt="">
                            <div class="overlay" layout="row" layout-align="center end">
                                <div>
                                    <div>{{col.name}}</div>
                                    <div class="detailthemetitle" layout="row" layout-align="center center">
                                        <a class="margin-right= 5%" href="/contact">Contact</a>
                                        <a ng-click="showPreview($event, col.videoUrl)">Preview</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="OneColume" hide-gt-sm hide-sm flex>
                <div ng-repeat="img in alltheme" flex>
                    <img src={{img.url}} alt="">
                        <div class="overlay" layout="row" layout-align="center end">
                            <div>
                                <div layout="row" layout-align="center none">{{img.name}}</div>
                                <div class="detailthemetitle" layout="row" layout-align="center none">
                                    <a href="/contact">Contact</a>
                                    <a ng-click="showPreview($event, img.videoUrl)">Preview</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!--BUTTON BACK-->
        <div class="layoutbtn" layout="row" layout-align="center end">
            <div class="mybtn">
                    <a href="/theme" class="mybtn btn-effect">
                        <div class="backgroundBtn"></div>
                        <div class="btnTop">
                            <p>BACK</p>
                        </div>
                        <div class="btnBottom">
                            <p>BACK</p>
                        </div>
                    </a>
            </div>
        </div>
    </div>
</div>