<div class="contact_container" layout="column" layout-align="center center">

    <div class="contact_content contact_content_size">

        <div class="contact_header">CONTACT</div>

        <div class="contact_field_block" ng-repeat="field in fields">
            <input type="text" id="{{field.id}}" placeholder="{{field.hint}}" maxlength="{{field.maxlen}}"
                   class="contact_field contact_field_normal" ng-if="field.size=='normal'">
            <textarea id="{{field.id}}" placeholder="{{field.hint}}" class="contact_field contact_field_larger"
                      rows="3" ng-if="field.size=='larger'"></textarea>
            <div class="contact_field_blockULine"></div>
        </div>


        <div class="mybtn contact_submit" ng-click="sendMail()">
            <div class="mybtn btn-effect">
                <div class="backgroundBtn"></div>
                <div class="btnTop">
                    <p>SUBMIT</p>
                </div>
                <div class="btnBottom">
                    <p>SUBMIT</p>
                </div>
            </div>
        </div>
    </div>
</div>