<md-dialog ng-cloak aria-label="video">
    <md-dialog-content>
        <div class="myDialogPreview">
            <videogular>
                <vg-media vg-src="config.sources"></vg-media>
                <vg-overlay-play></vg-overlay-play>
            </videogular>
        </div>
    </md-dialog-content>
</md-dialog>