<div class="documentClass" layout="row" layout-align="center center">
    <div class="videogular-container">
        <videogular vg-theme="config.theme.url">
            <vg-media vg-src="config.sources"
                      vg-tracks="config.tracks" >
            </vg-media>
            <vg-overlay-play></vg-overlay-play>
        </videogular>
    </div>
</div>