<div class="col-xs-6 col-md-4 ftleft">
    <img src="images/fb.png">
    <img src="images/youtube.png">
</div>
<div class="col-xs-6 col-md-4 ftcenter" hide-sm hide-xs flex>
    <div  layout="row" layout-align="center center">
        <img src="images/small_leftft.png">
        <img src="images/small_rightft.png">
    </div>
</div>
<div class="col-xs-6 col-md-4 ftright" layout="row" layout-align="end center">© gumiviet.com, 2016</div>