<div class="nav_top">
    <nav class="navbar navbar-default">
        <div class="container-fluid text-center nav_container" hide-sm hide-xs flex>
            <ul class="nav nav_bar">
                <li><a href="/" active-link="active">Home</a></li>
                <li><a href="/theme" active-link="active">Theme</a></li>
                <li><a href="/"><img src="images/logo.png" active-link="active"></a></li>
                <li><a href="/document" active-link="active">Document</a></li>
                <li><a href="/contact" active-link="active">Contact</a></li>
            </ul>
        </div>
        <div hide-gt-sm flex>
            <ul class="nav nav_bar">
                <li><a href="/"><img src="images/logo.png" active-link="active"></a></li>
            </ul>
        </div>
            <!--hamberger button-->
        <div  layout="row" layout-align="end center" hide-gt-sm flex>
            <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="hamburger" aria-label="menu">
                <li></li>
                <li></li>
                <li></li>
            </md-button>
        </div>
    </nav>
</div>

<section layout="row" hide-gt-sm flex style="z-index: 9999">
    <md-sidenav class="md-sidenav-right navMenu" md-component-id="right">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
        <md-content ng-controller="RightCtrl" layout-padding="" layout="column" layout-align="start none">
            <a href="/" ng-click="close()">Home</a>
            <a href="/theme" ng-click="close()">Theme</a>
            <a href="/document" ng-click="close()">Document</a>
            <a href="/contact" ng-click="close()">Contact</a>
            <a></a>
        </md-content>
    </md-sidenav>
</section>