<div id="container" class="homepage player_container" layout="row" layout-align="center center">

    <div flex="10">
         <img src="../images/ic_previous.png" class="player_nav_prev">
    </div>

    <div flex="80" class="player" id="player">

        <videogular id="video" vg-player-ready="controller.onPlayerReady($API)" vg-theme="controller.config.theme.url">
          <vg-media vg-src="controller.config.sources" vg-tracks="controller.config.tracks"></vg-media>
          <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
      </videogular>

      <div id="overlay" class="player_overlay" ng-click="controller.playPause('overlay')">
          <div id="playButton" class="player_button" ng-click="controller.playPause('button')">
              <svg width="100%" heigh="100%" viewBox="0 0 100 100">
                  <circle id="play_circle" cx="50" cy="50" r="47" stroke="none" stroke-width="3" fill="none"/>
                  <g id="play_control" fill="none">
                      <path id="play" class="play_btn_show" d="M 35 39 L 65 39 L 50 67"/>
                      <g id="pause" class="play_btn_hide">
                          <rect x="35" y="39" width="30" height="7" />
                          <rect x="35" y="57" width="30" height="7" />
                      </g>
                  </g>
              </svg>
          </div>
      </div>
    </div>

    <div flex="10">
        <img src="../images/ic_next.png" class="player_nav_next" align="right">
    </div>
</div>
