<div class="theme4_container"
     ng-mouse-wheel-up="onMouseWheelUp($event)"
     ng-mouse-wheel-down="onMouseWheelDown($event)">
    <div class="content">
        <div class="block" ng-repeat="block in themes[0]">
            <div class="item" style="z-index:{{(block.length-block.indexOf(item))*1000}}" ng-repeat="item in block">
                <img src="{{item.url}}"/>
                <div class="overlay">
                    <div class="themename">{{item.name}}</div>
                    <div class="themedetail">
                        <div><a href="/contact">Contact</a></div>
                        <div><a ng-click="showPreview($event, item.videoUrl)">Preview</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block collapse" ng-repeat="block in themes[1]">
            <div class="item" style="z-index:{{(block.length-block.indexOf(item))*1000}}" ng-repeat="item in block">
                <img src="{{item.url}}"/>
                <div class="overlay">
                    <div class="themename">{{item.name}}</div>
                    <div class="themedetail">
                        <div><a href="/contact">Contact</a></div>
                        <div><a ng-click="showPreview($event, item.videoUrl)">Preview</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mybtn" id="all_theme">
        <a href="/alltheme" class="mybtn btn-effect">
            <div class="backgroundBtn"></div>
            <div class="btnTop">
                <p>ALL THEMES</p>
            </div>
            <div class="btnBottom">
                <p>ALL THEMES</p>
            </div>
        </a>
    </div>
</div>