html {
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* non-prefixed version, currently not supported by any browser */
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.camera1 {
  background: url("../img/camera.png") no-repeat transparent center center;
  background-size: 50% auto;
  width: 100%;
  height: 100%;
}

.camera2 {
    background: url("../img/camera.png") no-repeat transparent center center;
    background-size: 30%;
    width: 100%;
    height: 100%;
}

/*.animate-switch-container {*/
  /*position: relative;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*overflow: hidden;*/
/*}*/

.animate-switch-container  {
  position: relative;
  width: 100%;
  height: 100%;
  top: 20%;
}

.animate-switch-container>div{
  position: absolute;
  left: -400px;
  width: 400px;
  height: 400px;
  border: 20px solid #ffffff;
}
.animate-switch-container>div>img{
  display: block;
  width: 100%;
  height: 100%;
}

/*.animate-switch-container>div.pos1{*/
  /*top: 10%;*/
  /*left:10%;*/
/*}*/

/*.animate-switch-container>div.pos2{*/
  /*top: 0%;*/
  /*left:20%;*/
/*}*/

.animate-switch-container>div.pos3{
  top: 10%;
  left:-20%;
}
/*.animate-switch-container>div.pos4{*/
  /*top: 0%;*/
  /*left:50%;*/
/*}*/

/*.animate-switch-container>div.pos5{*/
  /*top: 40%;*/
  /*left:80%;*/
/*}*/
/*.animate-switch-container>div.pos6{*/
  /*top: 20%;*/
  /*left:30%;*/
/*}*/

/*.animate-switch-container>div.center{*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*width: 800px;*/
  /*height: 800px;*/
  /*margin: -410px 0 0 -410px;*/
/*}*/


.animate-switch {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  animation: testanimation 20s;
  animation-timing-function: ease;
}

.animate-switch > img {
  height: 52%;
  width: auto;
  left: 100%;
}

/*.animate-switch.ng-enter,*/
/*.animate-switch.ng-leave.ng-leave-active*/
/*{*/

/*}*/
/*.animate-switch.ng-leave,*/
/*.animate-switch.ng-enter.ng-enter-active{*/

/*}*/

/*.animate-switch.ng-enter {*/
  /*transition: 20s;*/
  /*opacity: 0.5;*/
  /*left:120%*/
/*}*/

/*.animate-switch.ng-enter-active{*/
  /*opacity:1;*/
  /*left: -40%;*/
/*}*/

/*.animate-switch.ng-leave {*/
  /**/
/*}*/
/*.animate-switch.ng-leave.ng-leave-active {*/
  /**/
/*}*/

@keyframes testanimation {
  0%   {left:100%;top:7%; transform: rotate(7deg)}
  100% {left:-100%;top:7%; transform: rotate(7deg)}
}

img.rotate-3 {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

img.rotate-5,
img.rotate-6,
img.rotate-7 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

img.rotate-8 {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.card {
  -webkit-transition: width 2s, height 2s, opacity 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, opacity 2s, transform 2s;
  z-index: 1;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.card.active {
  width: auto;
  height: 100%;
  z-index: 3;
  opacity: 1;
}

.card.active.rotate-1,
.card.active.rotate-2,
.card.active.rotate-4,
.card.active.rotate-{
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card.active.rotate-3 {
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
}

.card.active.rotate-5,
.card.active.rotate-6,
.card.active.rotate-7 {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.card.active.rotate-8 {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
}
.background1{
  background-image: radial-gradient( circle, transparent 20%, black 125%), url("background/background4.jpg");
  box-shadow: inset 0 0 400px black;
}

.TitleCenter{
  text-align:center;
  vertical-align:middle;
}

.handcss1{
  position: absolute;
  width:55%;
  height:auto;
  left: 25%;
  top: 40%
}
.handcss2{
    position: absolute;
    width:35%;
    height:auto;
    left: 34%;
    top: 30%
}
