.anim3_fullScreen{
  margin:0; padding:0;
}
.anim3_screenFade {
  position:absolute;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: fadeIn 1.5s linear;
  -moz-animation: fadeIn 1.5s linear;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
}
.anim3_old_background{
  background: url('../../../img/anim3_bg1.jpg');
  background-size: cover;
}
.anim3_intro_background{
  background: url('../../../img/anim3_curtain.png');
  background-size: cover;
}
.anim3_transparent_background{
  position:absolute;
  overflow: hidden;
}
.anim3_ending_background{
  background-color: #ffffff;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-moz-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@font-face {
  font-family: 'BlackChen';
  src: url('../../../fonts/ufonts.com_black-chancery-italic.ttf');
}