.myanimate {
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.myanimate-pushPicture {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.myanimate.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes SlideFromRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-600px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-600px, 0, 0);
  }
}

@keyframes SlideFromRight {
  from, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.55, 0.55, 0.55);
    animation-timing-function: cubic-bezier(0.55, 0.55, 0.55, 0.55);
  }

  from {
    -webkit-transform: translate3d(2320px, 0, 0);
    transform: translate3d(2320px, 0, 0);
  }


  90% {
    -webkit-transform: translate3d(-400px, 0, 0);
    transform: translate3d(-600px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-600px, 0, 0);
  }
}

.SlideFromRight {
  -webkit-animation-name: SlideFromRight;
  animation-name: SlideFromRight;
}

@-webkit-keyframes rotateAnimImage {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    opacity: 1;
  }

  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
}

@keyframes rotateAnimImage {
  from {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 0.1, 35deg);
    transform: rotate3d(0, 0, 0.1, 35deg) translate(100px,80px);
  }

  50%{
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 0.1, 60deg);
    transform: rotate3d(0, 0, 0.1, 60deg) translate(100px,80px);
  }

  to {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 0.1, 35deg);
    transform: rotate3d(0, 0, 0.1, 35deg) translate(100px,80px);
  }
}

.rotateAnimImage1 {
  box-shadow: 100px 100px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
  animation-timing-function: cubic-bezier(.42,0,.58,1);
  -webkit-animation-timing-function: cubic-bezier(.42,0,.58,1);
  -webkit-animation-name: rotateAnimImage;
  animation-name: rotateAnimImage;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


@-webkit-keyframes rotateAnimImage2 {
  from {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 1, 40deg) translate(100px,80px);
    transform: rotate3d(0, 0, 1, 40deg) translate(100px,80px);
  }

  50%{
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 1, 50deg) translate(100px,80px);
    transform: rotate3d(0, 0, 1, 50deg) translate(100px,80px);
  }

  to {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 1, 40deg) translate(100px,80px);
    transform: rotate3d(0, 0, 1, 40deg) translate(100px,80px);
  }
}

@keyframes rotateAnimImage2 {
  from {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 1, 40deg) translate(100px,80px);
    transform: rotate3d(0, 0, 1, 40deg) translate(130px,80px);
  }

  50%{
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 1, 50deg) translate(100px,80px);
    transform: rotate3d(0, 0, 1, 50deg) translate(130px,80px);
  }

  to {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 1, 40deg) translate(100px,80px);
    transform: rotate3d(0, 0, 1, 40deg) translate(130px,80px);
  }
}

.rotateAnimImage2 {
  box-shadow: 100px 100px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
  animation-timing-function: cubic-bezier(.42,0,.58,1);
  -webkit-animation-timing-function: cubic-bezier(.42,0,.58,1);
  -webkit-animation-name: rotateAnimImage2;
  animation-name: rotateAnimImage2;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  transform: translate(0,200px);
}

@-webkit-keyframes rotateAnimImage3 {
  from {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 1, 40deg);
  }

  50%{
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 1, 50deg);
    transform: rotate3d(0, 0, 1, 50deg);
  }

  to {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 1, 40deg);
    transform: rotate3d(0, 0, 1, 40deg);
  }
}

@keyframes rotateAnimImage3 {
  from {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 1, 40deg);
    transform: rotate3d(0, 0, 1, 40deg);
  }

  50%{
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
  }

  to {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, 1, 40deg);
    transform: rotate3d(0, 0, 1, 40deg);
  }
}

.rotateAnimImage3 {
  box-shadow: 100px 100px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
  animation-timing-function: cubic-bezier(.42,0,.58,1);
  -webkit-animation-timing-function: cubic-bezier(.42,0,.58,1);
  -webkit-animation-name: rotateAnimImage2;
  animation-name: rotateAnimImage2;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  transform: translate(0,200px);
}

.holdImage {
  box-shadow: 30px 100px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate3d(0, 0, 1, 1.5deg) translate(0,120px);
  transform: rotate3d(0, 0, 1, 1.5deg) translate(0,120px);
}

.holdImage2 {
  box-shadow: 30px 100px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate3d(0, 0, 1, -1deg) translate(0,120px);
  transform: rotate3d(0, 0, 1, -1deg) translate(0,120px);
}

.holdImage3 {
  box-shadow: 30px 100px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  transform: translate(0,120px);
}

@keyframes ropeEffect {
  from {
    background-position-x: 0px ;
  }

  to {
    background-position-x: -600% ;
  }
}
@-webkit-keyframes ropeEffect {
  from, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.55, 0.55, 0.55);
    animation-timing-function: cubic-bezier(0.55, 0.55, 0.55, 0.55);
  }

  from {
    -webkit-transform: translate3d(0px, 100px, 0);
    transform: translate3d(0px, 100px, 0);
  }


  90% {
    -webkit-transform: translate3d(-0px, 100px, 0);
    transform: translate3d(-0px, 100px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 100px, 0);
    transform: translate3d(-0px, 100px, 0);
  }
}

.ropeEffect {
  /*-webkit-animation-name: ropeEffect;*/
  /*animation-name: ropeEffect;*/
  /*-webkit-animation-duration: 31.5s;*/
  /*animation-duration: 31.5s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
  background: url("../../../img/rope.png") scroll repeat-x 0 bottom;
  height: 100px;
  width: 100%;
  top: 60px;
}

@-webkit-keyframes PushPicture1 {
  from {
    opacity: 1;
    -webkit-transform: translate3d(860px, 100px, 0);
    transform: translate3d(860px, 100px, 0);
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3) translate3d(1400px, 100px, 0);
    transform: scale3d(.3, .3, .3) translate3d(1400px, 100px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(1920px, 100px, 0);
    transform: translate3d(1920px, 100px, 0);
  }
}

@keyframes PushPicture1 {
  from {
    opacity: 0;
    -webkit-transform: scale3d(3, 3, 3) rotate3d(0, 0, 1, 2deg);
    transform: scale3d(3, 3, 3) rotate3d(0, 0, 1, 2deg);

  }

  25% {
    opacity: 1;
  }

  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, 2deg);
    transform: scale3d(1.5, 1.5, 1.5) rotate3d(0, 0, 1, 2deg);
    opacity: 1;
  }

  75% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3) rotate3d(0, 0, 1, 270deg);
    transform: scale3d(.3, .3, .3) rotate3d(0, 0, 1, 270deg);
  }
  to {
    opacity: 0;
  }
}

.PushPicture1 {
  box-shadow: 40px 40px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: PushPicture1;
  animation-name: PushPicture1;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  left: 800px;
}

.container-template-second{
  position: relative;
  width: 100%;
  height: 100%;
}
.container-template-second > div{
    position: absolute;
    width: 100%;
    height: auto;
}
.container-template-second > div > div {
  position: absolute;
  border: 20px solid #ffffff;
  box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  left: 50px;
  top: 50px;
}
.container-template-second > div >div > img {
    height: auto;
    width: 100%;
}

.anim2-image-normal1{
    width: 30%;
    height: auto;
}
.anim2-push-image{
  width: 30%;
  height: auto;
}


@-webkit-keyframes anim2-push-new-image1 {
  from {
    box-shadow: 50px 100px 100px 0 rgba(0, 0, 0, 0.5), 0 4px 24px 0 rgba(0, 0, 0, 1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4)
  }

  45%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  62%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  to {
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(1.25, 1.25, 1.25); rotate3d(0,0,1,40deg);
    transform: scale3d(1.25, 1.25, 1.25); rotate3d(0,0,1,40deg);
  }
}

@keyframes anim2-push-new-image1 {
  from {
    box-shadow: 50px 100px 100px 0 rgba(0, 0, 0, 0.5), 0 4px 24px 0 rgba(0, 0, 0, 1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4)
  }

  45%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  62%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  to {
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0,0,1,40deg) scale3d(0.9, 0.9, 0.9);
    transform: rotate3d(0,0,1,40deg) scale3d(0.9, 0.9, 0.9);
  }
}

.anim2-push-new-image1 {
  -webkit-animation-name: anim2-push-new-image1;
  animation-name: anim2-push-new-image1;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}




@-webkit-keyframes anim2-push-new-image2 {
  from {
    box-shadow: 50px 100px 100px 0 rgba(0, 0, 0, 0.5), 0 4px 24px 0 rgba(0, 0, 0, 1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
  }

  45%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  62%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  to {
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0,0,1,-30deg) scale3d(0.9, 0.9, 0.9) translate(50%,10%);
    transform: rotate3d(0,0,1,-30deg) scale3d(0.9, 0.9, 0.9) translate(50%,10%);
  }
}

@keyframes anim2-push-new-image2 {
  from {
    box-shadow: 50px 100px 100px 0 rgba(0, 0, 0, 0.5), 0 4px 24px 0 rgba(0, 0, 0, 1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
  }

  45%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  62%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  to {
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0,0,1,-30deg) scale3d(0.9, 0.9, 0.9) translate(70%,25%);
    transform: rotate3d(0,0,1,-30deg) scale3d(0.9, 0.9, 0.9) translate(70%,10%);
  }
}

.anim2-push-new-image2 {
  -webkit-animation-name: anim2-push-new-image2;
  animation-name: anim2-push-new-image2;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



@-webkit-keyframes anim2-push-new-image3 {
  from {
    box-shadow: 50px 100px 100px 0 rgba(0, 0, 0, 0.5), 0 4px 24px 0 rgba(0, 0, 0, 1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
  }

  45%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  62%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  to {
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0,0,1,-15deg) scale3d(0.9, 0.9, 0.9) translate(-70%,-45%);
    transform: rotate3d(0,0,1,-15deg) scale3d(0.9, 0.9, 0.9) translate(-70%,-45%);
  }
}

@keyframes anim2-push-new-image3 {
  from {
    box-shadow: 50px 100px 100px 0 rgba(0, 0, 0, 0.5), 0 4px 24px 0 rgba(0, 0, 0, 1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
  }

  45%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  62%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  to {
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0,0,1,-15deg) scale3d(0.9, 0.9, 0.9) translate(-70%,-45%);
    transform: rotate3d(0,0,1,-15deg) scale3d(0.9, 0.9, 0.9) translate(-70%,-45%);
  }
}

.anim2-push-new-image3 {
  -webkit-animation-name: anim2-push-new-image3;
  animation-name: anim2-push-new-image3;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes anim2-push-new-image4 {
  from {
    box-shadow: 50px 100px 100px 0 rgba(0, 0, 0, 0.5), 0 4px 24px 0 rgba(0, 0, 0, 1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
  }

  45%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  62%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  to {
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0,0,1,25deg) scale3d(0.9, 0.9, 0.9) translate(32%,60%);
    transform: rotate3d(0,0,1,-25deg) scale3d(0.9, 0.9, 0.9) translate(32%,60%);
  }
}

@keyframes anim2-push-new-image4 {
  from {
    box-shadow: 50px 100px 100px 0 rgba(0, 0, 0, 0.5), 0 4px 24px 0 rgba(0, 0, 0, 1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
  }

  45%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  62%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  to {
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0,0,1,25deg) scale3d(0.9, 0.9, 0.9) translate(32%,60%);
    transform: rotate3d(0,0,1,-25deg) scale3d(0.9, 0.9, 0.9) translate(32%,60%);
  }
}

.anim2-push-new-image4 {
  -webkit-animation-name: anim2-push-new-image4;
  animation-name: anim2-push-new-image4;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



@-webkit-keyframes anim2-push-new-image5 {
  from {
    box-shadow: 50px 100px 100px 0 rgba(0, 0, 0, 0.5), 0 4px 24px 0 rgba(0, 0, 0, 1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
  }

  45%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  62%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  to {
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0,0,1,11deg) scale3d(0.9, 0.9, 0.9) translate(-92%,30%);
    transform: rotate3d(0,0,1,11deg) scale3d(0.9, 0.9, 0.9) translate(-92%,30%);
  }
}

@keyframes anim2-push-new-image5 {
  from {
    box-shadow: 50px 100px 100px 0 rgba(0, 0, 0, 0.5), 0 4px 24px 0 rgba(0, 0, 0, 1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
  }

  45%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  62%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  to {
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0,0,1,11deg) scale3d(0.9, 0.9, 0.9) translate(-92%,30%);
    transform: rotate3d(0,0,1,11deg) scale3d(0.9, 0.9, 0.9) translate(-92%,30%);
  }
}

.anim2-push-new-image5 {
  -webkit-animation-name: anim2-push-new-image5;
  animation-name: anim2-push-new-image5;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



@-webkit-keyframes anim2-push-new-image6 {
  from {
    box-shadow: 50px 100px 100px 0 rgba(0, 0, 0, 0.5), 0 4px 24px 0 rgba(0, 0, 0, 1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
  }

  45%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  62%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  to {
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0,0,1,-50deg) scale3d(0.9, 0.9, 0.9) translate(0,-60%);
    transform: rotate3d(0,0,1,-50deg) scale3d(0.9, 0.9, 0.9) translate(0,-60%);
  }
}

@keyframes anim2-push-new-image6 {
  from {
    box-shadow: 50px 100px 100px 0 rgba(0, 0, 0, 0.5), 0 4px 24px 0 rgba(0, 0, 0, 1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
  }

  45%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  62%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  to {
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0,0,1,-50deg) scale3d(0.9, 0.9, 0.9) translate(0,-60%);
    transform: rotate3d(0,0,1,-50deg) scale3d(0.9, 0.9, 0.9) translate(0,-60%);
  }
}

.anim2-push-new-image6 {
  -webkit-animation-name: anim2-push-new-image6;
  animation-name: anim2-push-new-image6;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



@-webkit-keyframes anim2-push-new-image7 {
  from {
    box-shadow: 50px 100px 100px 0 rgba(0, 0, 0, 0.5), 0 4px 24px 0 rgba(0, 0, 0, 1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
  }

  45%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  62%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  to {
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0,0,1,23deg) scale3d(0.9, 0.9, 0.9) translate(5,95%);
    transform: rotate3d(0,0,1,23deg) scale3d(0.9, 0.9, 0.9) translate(5,95%);
  }
}

@keyframes anim2-push-new-image7 {
  from {
    box-shadow: 50px 100px 100px 0 rgba(0, 0, 0, 0.5), 0 4px 24px 0 rgba(0, 0, 0, 1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
  }

  45%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
  62%{
    box-shadow: 25px 50px 50px 0 rgba(0, 0, 0, 0.3), 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  to {
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0,0,1,23deg) scale3d(0.9, 0.9, 0.9) translate(5,95%);
    transform: rotate3d(0,0,1,23deg) scale3d(0.9, 0.9, 0.9) translate(5,95%);
  }
}

.anim2-push-new-image7 {
  -webkit-animation-name: anim2-push-new-image7;
  animation-name: anim2-push-new-image7;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.image_mobile {
  width: 80%;
  height: auto;
}




@keyframes handimport {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  60%{
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
}

.handimport {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: handimport;
  animation-name: handimport;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@keyframes handexport {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30%{
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  80%{
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(0.8, 0.8, 0.8) translate3d(0,-20%,0);
    transform: scale3d(0.8, 0.8, 0.8) translate3d(0,-20%,0);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale3d(0.8, 0.8, 0.8) translate3d(0,-20%,0);;
    transform: scale3d(0.8, 0.8, 0.8) translate3d(0,-20%,0);
  }
}

.handexport {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: handexport;
  animation-name: handexport;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}






