
.animate-slider-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.animate-slider-container>div{
  position: absolute;
  top: -85px;
}
.animate-slider-container>div>div{
  border: 20px solid #ffffff;
  border-bottom: 60px solid #ffffff;
  left: -600px;
  width: 400px;
  height: 440px;
}
.animate-slider-container>div>div>img{
  display: block;
  width: 100%;
  height: 100%;
}

.animate-slider-container>div.pos3{
  top: 100px;
}

.animate-slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  animation: testanimation 20s;
  animation-timing-function: ease;
}

.animate-slider > img {
  height: 52%;
  width: auto;
  left: 100%;
}

.classStamp3 {
  box-shadow: 20px 40px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
  position:absolute;
  transform: translate(200px,0);
  z-index: 9999;
}
@keyframes classtamp0 {
  from {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotate3d(0, 0, 0.1, -10deg);
    transform: rotate3d(0, 0, 0.1, -10deg)
  }

  50%{
    -webkit-transform-origin: top;
    transform-origin:  top;
    -webkit-transform: rotate3d(0, 0, 0.1, 15deg);
    transform: rotate3d(0, 0, 0.1, 15deg)
  }

  to {
    -webkit-transform-origin: top;
    transform-origin:  top center;
    -webkit-transform: rotate3d(0, 0, 0.1, -10deg);
    transform: rotate3d(0, 0, 0.1, -10deg)
  }
}

.classStamp0 {
  box-shadow: 40px 40px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
  position:absolute;
  transform: translate(0,0);
  z-index: 9999;
  animation-timing-function: cubic-bezier(.42,0,.58,1);
  -webkit-animation-timing-function: cubic-bezier(.42,0,.58,1);
  -webkit-animation-name: classtamp0;
  animation-name: classtamp0;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes classtamp1 {
  from {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg) translate(20px,0);
  }

  50%{
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg) translate(20px,0);
  }

  to {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg) translate(20px,0);
  }
}
.classStamp1 {
  box-shadow: 40px 40px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
  position:absolute;
  z-index: 9999;
  animation-timing-function: cubic-bezier(.42,0,.58,1);
  -webkit-animation-timing-function: cubic-bezier(.42,0,.58,1);
  -webkit-animation-name: classtamp1;
  animation-name: classtamp1;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


@keyframes classtamp2 {
  from {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotate3d(0, 0, 1, -3deg) translate(25px,0);
    transform: rotate3d(0, 0, 1, -2.85deg) translate(25px,0);
  }

  50%{
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotate3d(0, 0, 1, 8deg) translate(25px,0);
    transform: rotate3d(0, 0, 1, 8deg) translate(25px,0);
  }

  to {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotate3d(0, 0, 1, -3deg) translate(25px,0);
    transform: rotate3d(0, 0, 1, -3deg) translate(25px,0);
  }
}
.classStamp2 {
  box-shadow: 40px 40px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
  position:absolute;
  z-index: 9999;
  animation-timing-function: cubic-bezier(.42,0,.58,1);
  -webkit-animation-timing-function: cubic-bezier(.42,0,.58,1);
  -webkit-animation-name: classtamp2;
  animation-name: classtamp2;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}






