.footer{
  position: absolute;
  float: bottom;
  bottom: 0;
  background-image: url("../../images/footer.png");
  background-size: cover;
  height: 7%;
  width: 100%;

  .ftleft{
    width: 50%;

    @media only screen and (min-width: 800px) {
      width: 50%;
    }

    @media only screen and (min-width: 960px) {
      width: 33.33%;
    }

    margin-bottom: 5px;

    > img{
      margin-left: 20px;
    }
  }

  .ftcenter{
    width: 50%;

    @media only screen and (min-width: 800px) {
      width: 50%;
    }

    @media only screen and (min-width: 960px) {
      width: 33.33%;
    }

     > div > img{
    margin-left: 20px;
    margin-right: 20px;
    }
  }

  .ftright {
    font-family: CopyrightFont;
    width: 50%;
    color: #f9e8d5;
    font-size: 8.08pt;


    @media only screen and (min-width: 800px) {
      font-size: 10.08pt;
      width: 50%;
    }

    @media only screen and (min-width: 960px) {
      font-size: 10.08pt;
      width: 33.33%;
    }
  }
}

