
html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/bg.png") ;
  background-size: cover;
}

.detail{
  width:  100%;
  height: 93%;
  box-sizing: border-box;
  padding-top:  100px;
  margin-top: -100px;
  @media (max-device-width: 900px) {
    padding-top: 35px;
    margin-top: -35px;
  }
}


.nav_top {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1); /*0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  height: 100px;

  @media (max-device-width: 900px) {
    height: 35px;
  }
}

.navbar-default {
  height: 100%;
}
.navbar-default {
  width: 100%;
  height: 100%;
}

.nav_container {
  height: 100%;
  margin-bottom: 100px;
}

.nav_bar {
  display: inline-block;
  position: relative;
  height: 100%;
  @media (max-device-width: 900px) {
    position: absolute;
  }
}

.nav {
  @media (max-device-width: 900px) {
    width: 100%;
  }

  > li {
    float: left;
    transform: translateY(-50%);
    top: 50%;

    @media (max-device-width: 900px) {
      top: 0;

      img {
        width: 45%;
        margin-top: 47px;
      }
    }

    > a {
      font-family: headerfont;
      color: #363636;
      font-size: 18px;
      margin: 0 33px 0 33px;

      @media (max-device-width: 900px) {
        margin: 0 0 0 0;
      }

      &:hover {
        color: #eaac51;
        transition: all .3s ease-out;
        background: transparent;
      }
    }
  }
}

.donthover{
  font-family: headerfont;
  color: #363636;
  font-size: 18px;
  margin: 0 33px 0 33px;

  @media (max-device-width: 900px) {
    margin: 0 0 0 0;
  }
  background: transparent;
}

//Hamburger Button
.hamburger{
  list-style: none;
  float: left;
  margin: 0;
  padding: 10px 0;
  position: relative;
  top: 2px ;
  left: 55px;
  right: 10px;
  width: auto;
  max-width: 10px;

  li
  {
    width: 24px;
    height: 4px;
    background: $organge;
    margin: 2px 0 0;
    padding: 0;
  }
}

.navMenu{
  background-color: $background-header;

  .md-toolbar-tools{
    background-color: $organge;
    font-family: headerfont;
    color: $white;
    font-size: 18px;
  }

  >md-content{
    background-color: $background-header;
    list-style: none;
    padding: 0;

      > a {
        font-family: headerfont;
        color: $black;
        font-size: 18px;
        text-decoration: none;
        left:0;
        width: 110%;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
        padding-left: 12px;

        &:hover {
          color: $organge;
          background: transparent;
        }

        .active_click {
          color: $organge;
          background: transparent;
        }
      }
  }
}
.active_click {
  color: $organge;
  background: transparent;
}