@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf")
}
@font-face {
  font-family: headerfont;
  src: url("../fonts/Pacifico.ttf");
}
@font-face {
  font-family: CopyrightFont;
  src: url("../fonts/OpenSans-Bold.ttf")
}
@font-face {
  font-family: CONTACTFONT;
  src: url("../fonts/OpenSans-ExtraBold.ttf")
}
@font-face {
  font-family: OpenSans-regular;
  src: url("../fonts/OpenSans-Regular.ttf")
}
@font-face {
  font-family: OpenSans-Semibold;
  src: url("../fonts/OpenSans-Semibold.ttf")
}
@font-face{
  font-family: titletheme;
  src: url("../fonts/BELLB.TTF")
}