<!Doctype html>
<html ng-app="app">
<head>
  <link href="lib/angular/angular-csp.css" type="text/css" rel="stylesheet">
  <base href="/">
</head>
<body>
<ng-view/>
<script src="js/qrcode.js"></script>
<script src="lib/jQuery/dist/jquery.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular-route/angular-route.min.js"></script>
<script src="lib/angular-file-upload/dist/angular-file-upload.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controller/QaCodeCtrl.js"></script>
</body>
</html>